.app-frame {
    min-height: 100vh;
}

#blazor-error-ui {
    color-scheme: dark;
    background: #24101a;
    border-top: 1px solid #ef476f;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    display: none;
    left: 0;
    padding: .75rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .reload {
    color: #67e8f9;
    margin-left: .5rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: .9rem;
}
